- content_for :body_class, "login-container"

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .panel.panel-body.login-form
    .text-center
      .icon-object.border-slate-300.text-slate-300
        %i.icon-user-lock
      %h5.content-group
        = t(".headline")
        %small.display-block= t(".sub_headline")

    = f.input :email, label: false,
      wrapper_html: { class: "has-feedback has-feedback-left" },
      input_html: { autofocus: true },
      icon: :mail5

    = f.input :password, label: false,
      wrapper_html: { class: "has-feedback has-feedback-left" },
      input_html: { autocomplete: "off" },
      icon: :lock2

    .form-group.login-options
      .row
        = f.input :remember_me, as: :boolean_striped,
          wrapper_html: { class: "col-sm-6"},
          label_html: { class: "checkbox-inline" },
          input_html: { class: "styled" }

        .col-sm-6.text-right
          = link_to t(".forgot_your_password"), new_password_path(resource_name)

    .form-group
      = f.button :button, class: "bg-pink-400 btn-block" do
        = t(".login")
        %i.icon-arrow-right14.position-right
    -#.content-divider.text-muted.form-group
    -#  %span Noch keine Bestätigungsmail erhalten?
    -#%a.btn.btn-default.btn-block.content-group{:href => "login_registration.html"} Sign up
